
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');

:root{
    --color-blue:#2977C9;
    --color-light-beige:#faf9f7;
    --color-dark-beige:#f1ece5;
    --color-light-grey: #e6e5e4;
    --color-dark-grey: #5c5c5b;
    --color-dark-red:#b24020;


}

body{
    font-family: 'Roboto';
}

header img {
    width: 100px;

}

/* header {
    display: flex;
    flex: wrap;
    flex-direction: row;
} */ 

/* FIRST SECTION */
.first-section {
    padding: 48px 36px;
    position: relative;
    
}
.first-section .log-in{
    width:60%;
}

.first-section .log-in .title{
    color:#2977C9;
    font-weight: 400;
    font-size:76px;
    line-height: 1.2;
    margin-bottom: 21px;
}

.first-section .log-in form{
    display:flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 100px;

}

.first-section .log-in form input{
    padding:10px 6px;
    margin-bottom: 12px;
}

.first-section .log-in form a{
    text-decoration: none;
    margin-bottom: 24px;
}

.first-section .log-in form .btn{
    padding:10px 6px;
    border-radius: 20px;
    background-color: #2977C9;
    border:1px solid #2977C9;
    color:white;
    cursor:pointer;
}

.first-section-img{
    position:absolute;
    top:50px;
    right:0;
    width:42%;
}

/* SECOND SECTION */
.second-section{
background-color:#faf9f7 ;
padding: 160px 120px;
display:flex;
justify-content: center;

}

.second-section .subtitle{
    font-size: 64px;
    font-weight: 400;
    width:500px;
    margin-right: 100px;
}

.tag{
    padding:10px 12px;
    border-radius: 20px;
    background-color: #e6e5e4;
    color:#5c5c5b;
    font-weight: bold;
    
    
}

.second-section .options h3{
color:#5c5c5b;
font-weight: bold;
font-size: 12px;
margin-bottom: 12px;


}

.second-section .options .tags{
    display:flex;
    gap:12px;
    padding-left:0;
    flex-wrap: wrap;
    width:60%;
    
}
/* THIRD SeCTION */
.third-section{
    background-color:#f1ece5;
    display:flex;
    padding:120px;
}
.third-section .subtitle{
    width:40%;
    font-size: 40px;
    font-weight: 400;
    color:#b24020;
}